
.custom-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.card {
    width: 95%;
    max-width: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    box-shadow: 0 10px 20px rgba(70, 67, 67, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    color: #192252;
  }

  .content .btn {
    text-decoration: none;
    color: rgb(38, 35, 35);
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background:  #11d993 ;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(31, 252, 97, 0.8);
    border-color:  #11d993 ;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  .appointment-info .label {
    font-size: 1.4rem; /* Adjust the font size to your preference */
    color: rgb(38, 35, 35); /* Set the color to the desired value */
    margin-right: 10px; /* Add some spacing between the label and content */
  }
  .appointment-info h3 {
    font-size: 1.2rem; /* Adjust the font size to your preference */
    color: #192252; /* Set the color to the desired value */
  }

  /*Doctor - Patient - Avatars*/
  
  .img-fluid {
    max-width: 100%;
    height: auto;
}

.height-5x {
    height: 3rem!important;
}
.width-5x {
    width: 3rem!important;
}
.flex-center {
    justify-content: center!important;
}
.flex-center {
    align-items: center!important;
}