<div class="body">
  <div class="row">
    <h1>Welcome back, <span><i>{{userProfile?.fullName}}</i></span></h1> 
  </div>
  <div class="rowa">
    <div class=" data">
      <h5>My Appoitments</h5> <!-- Displays a heading for patient statistics -->
      <div class="chart-container">
        <canvas id="chart" #chart></canvas> <!-- Renders a chart with the chart id and reference #chart -->
      </div>
      <div class="chartLegend">
        <div class="chartLegend-element">
          <div class="legendCircle" > </div> <!-- Displays a colored circle legend for the chart -->
          <div class="legendtext"></div> <!-- Displays the name of the data in the legend -->
          <div class="legendpercent"></div> <!-- Displays the percentage of data in the legend -->

        </div>
      </div>

    </div>
    <div class="data2">
      <h5>Todays Appoitments</h5> <!-- Displays a heading for money earned statistics -->
    </div>

  </div>
  <div class="payments">
    <h5>Recent Approved Appoitments</h5> <!-- Displays a heading for recent payment information -->
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Doctor</th> <!-- Displays a column for patient information -->
            <th>Speciality</th> <!-- Displays a column for appointment information -->
            <th>Date</th> <!-- Displays a column for payment date -->
            <th>Reason</th> <!-- Displays a column for payment total amount -->
            <th>Status</th> <!-- Displays a column for payment status -->
            <th>Action</th> <!-- Displays a column for actions related to payments -->
          </tr>
        </thead>
        <tbody *ngFor="let P of userAppointments"> 
          <tr>
            <td class="patient-column"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="Patient-profile"> <!-- Displays the profile picture of the patient -->
              <div style="padding-left: 15px;">
                <div class="patient-column-name">{{P?.doctor?.fullName || 'Name not available'}}</div> <!-- Displays the name and title of the patient -->
                <div class="patient-column-id">{{P?.doctor?.id || 'ID not available'}}</div> <!-- Displays the ID of the patient -->
              </div>
            </td>
            <td class="appointment-column">
              {{P?.doctor?.specialty?.name || 'Specialty not available'}}<!-- Displays the speciality of the patient -->
            </td>
            <td class="date-column">
              {{P?.date || 'Date not available'}} <!-- Displays the payment date -->
            </td>
            <td class="total-column">
              <div class="total-column-amount">{{P?.reason || 'Reason not available'}}</div> <!-- Displays the payment amount -->

            </td>
            <td class="statu-column {{P['statusAPT']}}">
              <div class="statu-column  {{P['statusAPT']}}">
                {{P?.statusAPT || 'Status not available'}}
              </div>
            </td>
            <td class="action-column  custom-action-column">
              <div class="action-icons">
                <i class="fas fa-eye" (click)="openAppointmentDetailsModal(P,'600ms', '600ms')"></i> <!--TO ADD APPOINTMENT DETAILS PAGE-->
                <i class="fas fa-print" ></i> <!-- PRINT DETAILS OF APPOINTMENT -->
                <i class="fas fa-trash"></i> <!-- DELETE APPOINTMENT -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>