<div class="call-window">
  
  <div>
    <h2>window ref : </h2>
    <h2>userHaveCallID : </h2>
    <h2 >callwindow : 
      
      <h2 >XXXXXXXXXXXX</h2>
    </h2>
    <h2 >callwindow :



          <h2>XXXXXXXXXXXX</h2>
    </h2>

    <!-- Add any necessary HTML elements for the call window -->
    <button >End Call</button>
    </div>

  </div>
 
  <ng-template #nocall>
    user have no call
    <button >Back to Inbox</button>
  </ng-template>
  <input type="text">
  <div class="vidDisplay" >
    <div class="container-fluid">
      <div>


          <div id="remote-container" >
          </div>
         
            <div id="local-container"  class="vidDisplay" >
   
         
         
          </div>
       
          <div >
            no camera
            <img src="path/to/image.png">
          </div>
      </div>
      
  <button >micOn</button>
  <button  >micOff</button>
  <button >cameraOn</button>
  <button  >cameraOff</button>
  </div>
  <ng-template #waiting>
    waiting connection
  </ng-template>
  </div>
  