<!--TO STYLE MORE-->
<h1 mat-dialog-title style="color:#2A3563 ;">
  Book an Appointment in  <span style="color:#1eb592 ;"  >  {{ data.specialityName }} </span> Department
</h1>
<div mat-dialog-content>
  <!--LOADER-->
  <div *ngIf="loading" class="loading-spinner">
    <img
      width="300px"
      src="assets/loading-unscreen.gif"
      alt="Saving the Appointment ..."
    />
    <br>
    <p style="color:#2A3563 ; font-style: italic; ">Saving the Appointment...</p>
  </div>
  <div *ngIf="!loading">
    <form
      [formGroup]="appointmentForm"
      class="booking-form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Appointment Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="form-group">
        <label>Appointment Time</label>
        <timepicker
          [(ngModel)]="selectedTime"
          [showMeridian]="isMeridian"
          formControlName="time"
        ></timepicker>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Reason Of Appointment</mat-label>
        <textarea
          matInput
          formControlName="reason"
          placeholder="I am feeling"
        ></textarea>
        <!--<mat-error *ngIf="reason.errors?.['required']" class="error"> 
      Reason is required
     </mat-error> -->

        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>The Doctor</mat-label>
        <input matInput disabled value="{{ data?.doctorName }}" />
        <input
          matInput
          formControlName="doctorId"
          hidden
          value="{{ data?.doctorId }}"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>The Patient</mat-label>
        <input matInput disabled value="{{ data?.patientName }}" />
        <input
          matInput
          hidden
          formControlName="patientId"
          value="{{ data?.patientId }}"
        />
      </mat-form-field>

      <div mat-dialog-actions class="button-container">
        <button
          mat-fab
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Exit without saving"
          matTooltipHideDelay="500"
          (click)="closeDialog()"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>

        <button
          type="submit"
          mat-fab
          color="accent"
          #tooltip="matTooltip"
          matTooltip="Save the Appointment"
          matTooltipHideDelay="500"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
