
h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #11d993;
    padding-left: 10px;
    margin-bottom: 30px
  }
h3{
    padding-top: 20px;
    padding-left: 20px;
    color: #192252;
}
h5{
    padding: 0px 0 3px 0;
    color: #192252;
    font-weight: 500;
    font-size: 23px;
}
.body{
    margin: 0px 20px;
    width: -webkit-fill-available !important;
    width: fill-available !important;
    padding-bottom: 20px;
}
.row{
    width: 100% !important ;
    margin-top: 40px;
    margin-left: 20px;
}
.data{
   
    border-width: 1px;
    border-color: #A9B4CD;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    min-width: 500px !important;

}
.chartLegend{
    display: flex;
 
    justify-content: space-evenly;

}
.legendCircle{
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.chartLegend-element{
    padding : 10px 20px 0 10px;
    min-width: 100px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.legendtext{
font-size: 15px;
color: #acb2c2;
padding-top: 10px;
padding-bottom: 5px;
}
.legendpercent{
    font-size: 18px;
    color: #192252;
}
#chart{
max-width: 200px;
max-height: 200px;
}
.chart-container{
    padding:   10px 0;
    display: flex;
    justify-content: center;
}
.rowa{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 30px;
}
.data2{
    border-width: 1px;
    border-color: #A9B4CD;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    min-width: calc(100% - 510px) !important;
    margin-left: 10px;
}
.appointments{
min-width: calc(100% - 20px) !important;
border-width: 1px;
border-color: #A9B4CD;
border-style: solid;
border-radius: 10px;
padding: 15px;
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
}
.table-container{
    margin: 10px 5px 0px 5px;
    width: 100%;
}
thead{
    background-color: #EFF3FA;
    color: #192252;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  
    border-radius: 5px 0 0 5px !important;
    
}thead th {
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    padding: 17px 25px;
  }
 
thead th:first-child {
    border-radius: 7px 0 0 7px;
  }
  thead th:last-child {
    border-radius: 0 7px   7px 0;
  }
  thead th:first-child{
    font-weight: 500;
    font-size: 20px;
    padding: 17px 25px;
   
  }
  tbody tr{
    vertical-align: middle;
   
  }
  .Patient-profile{
    border-radius: 50%;
    width: 60px;
  }
.patient-column{
    display: flex;
    margin: 3px 0 0px 0;
}
.patient-column-name{
 font-size: 15px;
 font-weight: 600;
 color: #192252;
}
.patient-column-id{
    font-size: 15px;
    color: #A9B4CD;
}
.appointment-column{
    font-size: 18px;
    font-weight: 400;
    color: #192252;
}
.date-column{
    font-size: 16px;
    font-weight: 600;
    color: #192252;
}

.total-column-amount{
    font-size: 16px;
    font-weight: 600;
    color: #192252;
}
.total-column-method{
    font-size: 15px;
    color: #A9B4CD;
}
.statu-column{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.statu-column .APPROVED{
    color: #0F595A;
    background-color: #CFFCD4;

}
.statu-column .DONE{
    color: #0b31ef;
    background-color: #FFE4DB;
}
.statu-column .PENDING{
    color: #c0780d;
    background-color: #FFF7D0;
}
.statu-column .CANCELED{
    color: #7A0E40;
    background-color: #FFE4DB;
}

.action-icons {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
  }
  
  .action-icons i {
    cursor: pointer;
    color: #848FAC;;
    margin-right: 5px;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
  }
  
  .action-icons i:hover {
    background-color: #EFF3FA;
    color: #192252; /* Change the color on hover to blue, you can use any desired color */
  }
  .custom-action-column {
    width: 60px; /* Adjust the width to make the action column smaller or larger */
  }


  .card {
    width: 260px;
    height: 170px;
    background-color: #ffb3b3;
    border-radius: 15px;
    border: 1px solid rgb(156, 151, 151);
    position: relative;
    transition: all .3s ease;
  }
  
  .card__icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    gap: 10px;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
  }
  
  .card__time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: lighter;
    border-radius: 5px;
    text-align: center;
    padding: 2px 8px;
    color: whitesmoke;
    background-color: rgb(77, 67, 67);
  }
  
  .svg-icon {
    background-color: rgb(77, 67, 67);
    fill: #ece6e6;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 2px;
    transition: all .5s ease-in-out;
  }
  
  .card:hover {
    opacity: 0.8;
    animation: video 5s ease;
  }
  
  .card:hover .card__icons {
    opacity: 1;
  }

  
  