<div class="body">
  <div class="header">
    <h1>Welcome back, <span><i>{{userProfile.fullName}}</i></span></h1><!-- Displays a welcome message with the username of the logged-in user -->
  </div>

  <div class="rowa">
    <div class=" data">
      <h5>Appoitments status</h5> <!-- Displays a heading for patient statistics -->
      <div class="chart-container">
        <canvas id="chart" #chart></canvas> <!-- Renders a chart with the chart id and reference #chart -->
      </div>
      <div class="chartLegend">
        <div class="chartLegend-element">
          <div class="legendCircle" style="background-color: #c0780d;"></div>
          <div class="legendtext">PENDING</div>
          <div class="legendpercent">{{ calcPercentage('PENDING') }} %</div>
        </div>
        <div class="chartLegend-element">
          <div class="legendCircle" style="background-color: #0F595A;"></div>
          <div class="legendtext">APPROVED</div>
          <div class="legendpercent">{{ calcPercentage('APPROVED') }} %</div>
        </div>
        <div class="chartLegend-element">
          <div class="legendCircle" style="background-color: #0b31ef;"></div>
          <div class="legendtext">DONE</div>
          <div class="legendpercent">{{ calcPercentage('DONE') }} %</div>
        </div>
        <div class="chartLegend-element">
          <div class="legendCircle" style="background-color: #7A0E40;"></div>
          <div class="legendtext">CANCELED</div>
          <div class="legendpercent">{{ calcPercentage('CANCELED') }} %</div>
        </div>
      </div>
      

    </div>
    <div class="data2">
      <h5>Appoitments analytics</h5> <!-- Displays a heading for money earned statistics -->
      <div class="chart-container" style="height: 300px;">
        <canvas id="PieChart"></canvas>
        
      </div>

    </div>  

  </div>
  <div *ngIf="todaysAppointments" class="appointments" style="height: calc(100vh - 602px); display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="assets/images/empty-box.png" alt="No appointments" style="display: block; margin: 0 auto;">
    <span style="text-align: center; font-size: large; color:#192252 ; font-weight: 500;">You have no appointments for today</span>
  </div>

  <div *ngIf="todaysAppointments.length > 0" class="appointments">
    <h5>Today's Appoitments</h5>
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Patient Email</th>
            <th>Reason</th>
            <th>Date and Time</th>
            <th>MedicalHistory</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let appointment of todaysAppointments">
          <tr>
            <td class="patient-column">

              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="Patient-profile">
              <div style="padding-left: 15px;">
                <div class="patient-column-name">{{appointment.patient?.fullName}}</div>
                <div class="patient-column-id">{{appointment.patient?.id}}</div>
              </div>
            </td>
            
            <td class="appointment-column">
              {{appointment.patient.email}}
            </td>
            
            <td class="appointment-column">
              {{appointment.reason}}
            </td>
            <td class="date-column">
              {{appointment.date}}
            </td>
            <td class="date-column">
             No medical History available
            </td>

            <td class="statu-column {{appointment.statusAPT}}">
              <div class="statu-column {{appointment.statusAPT}}">
                {{appointment.statusAPT}}
              </div>
            </td>
            <td class="action-column  custom-action-column">
              <div class="action-icons">
                <i class="fas fa-eye"></i> <!--TO ADD APPOINTMENT DETAILS PAGE-->
                <i class="fas fa-list-dots"></i> <!-- APPOINTMENT actions -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  


</div>