<div class="container">
  <div class="search-container">
    <h3>All Services</h3>
    <p style="text-align: center">
      Discover trusted doctors online and book appointments effortlessly.
      Prioritize your health with personalized care from reliable professionals
      you can trust. Experience seamless booking and expert medical services on
      our healthcare website.
    </p>
    <div class="row speciality-container">
      <div *ngFor="let specialty of specialties" class="col-3 speciality col">
        <div class="searcj-card">
          <!-- Display specialty information -->
          <img [src]="specialty.image" alt="{{ specialty.name }}" />
          <h5>{{ specialty.name }}</h5>
          <p>{{ specialty.description }}</p>
          <!-- When button is clicked, pass specialty to previewDoctors -->
          <button class="preview-btn" (click)="previewDoctors(specialty)">See Doctors</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="preview-contaienr" [ngClass]="{ displayOn: isOn == true }">
  <div class="preview-card row">
    <div>
      <!-- Add a button to close the preview -->
      <div (click)="closeServiceTab()" class="x-shape-con">
        <div class="x-shape"></div>
      </div>
      <h5>Featured</h5>
      <div class="doc-tab">
        <div class="row row1" *ngIf="doctors.length > 0" >
          <!-- Loop through the doctors and display their information -->
          <div *ngFor="let doctor of doctors" class="col-4 docctor-card">
            <div class="doc">
              <div style="width: 100%">
                <img class="doc-img" [src]="'assets/male.jpg'" alt="" />
              </div>
              <div class="doc-info">
                <div class="name">{{ doctor.fullName }}</div>
                <div class="with-hr"> Email : {{ doctor.email }}</div>
                <div class="with-hr"> Phone : {{ doctor.phone }}</div>

              
                <!-- Add more details as needed -->
                <!-- For example, add review and availability -->
                <!-- You can use doctor.email, doctor.phone, etc. -->
              </div>
              <button>See profile</button>
            </div>
          </div>
        </div>
        <div class="no-doctors-message" *ngIf="doctors.length === 0">No Doctors yet in this speciality</div>
        <div class="see-all-btn">
          <!-- Add your SVG or button for pagination if needed -->
        </div>
      </div>
    </div>
  </div>
</div>

