.button-container {
  position: absolute;
  display: flex;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: last baseline;
}

.button-container .mat-fab {
  margin: 0 100px; /* Adjust as needed for spacing between buttons */
}