<h1 mat-dialog-title>Appointment Details :</h1>
<div mat-dialog-content>
  <div class="body">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
          <!--card-body-->
          <div class="card-body">
            <div class="d-flex mb-4 align-items-center">
              <!--Companies group-->
              <div class="flex-grow-1 d-flex align-items-center">
                <!--Doctor-->
                <div
                  class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <!--Patient-->
                <div
                  class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="appointment-info">
              <h3 id="reason">
                <span class="label">Appointment Reason :</span> <span class="content">{{ data.appointment.reason }}</span>             
              </h3>
              <h3 id="doctor">
                <span class="label">Doctor FullName :</span> {{ data.appointment.doctor.fullName }}
              </h3>
              <h3 id="patient">
                <span class="label">Patient FullName :</span> {{ data.appointment.patient.fullName }}
              </h3>
              <h3 id="status">
                <span class="label">Appointment Status :</span> {{ data.appointment.statusAPT }}
              </h3>
              <p class="mb-0 text-muted">
                <span class="label">Appointment Specialty:</span> {{ data.appointment.doctor.specialty.name }}
              </p>
            </div>
            
        </div>
  </div>
</div>
