<div class="row">
  <form class="col-3">
    <div class="filterInputs">
      <!--Speciality-->
      <div>
        <div class="title">Speciatlity</div>
        <div *ngIf="selectedspeciality; else selectspeciality">
          <div class="specialty" [ngClass]="{ viw: isDescriptionOn }">
            <div
              class="viewde"
              [ngClass]="{ display: !isDescriptionOn }"
              (click)="isDescriptionOn = true"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.5 5L15.5 12L8.5 19"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div
              class="viewde"
              [ngClass]="{ display: isDescriptionOn }"
              (click)="isDescriptionOn = false"
            >
              <svg
                width="30"
                height="30"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19 8.5L12 15.5L5 8.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            {{ selectedspeciality.name }}
            <div
              class="delspec"
              (click)=" clearSelectedSpecialty()"
            >
              <svg
                version="1.2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="20"
                height="20"
              >
                <style>
                  .s0 {
                    fill: none;
                    stroke: #130f26;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.5;
                  }
                </style>
                <path id="Layer" class="s0" d="M22.5,22.3L12.2,12L1.9,22.3" />
                <path id="Layer copy" class="s0" d="M22.5,2L12.2,12L1.9,2" />
              </svg>
            </div>
          </div>
          <div class="description" [ngClass]="{ display: isDescriptionOn }">
            {{ selectedspeciality.description }}
          </div>
        </div>
        <ng-template #selectspeciality>
          <div class="inp-container">
            <input
              type="text"
              class="input-location"
              [formControl]="searchControll"
              placeholder="search speciality"
            />
          </div>
          <ul>
            <li
              *ngFor="let specialty of searchResults"
              (click)="selectedspeciality = specialty"
            >
              {{ specialty.name }} - {{ specialty.description }}
            </li>
          </ul>
        </ng-template>
      </div>
      <!--AVAILABILITY-->
      <div class="title">Availabiltiy</div>
      <!--AVAILABILITY-FROM-->
      <div class="input-with-label row">
        <div class="col-4 title">From :</div>
        <div class="col-8">
          <input
            style="width: 100%"
            type="date"
            [formControl]="currentDateControl"
            [min]="currentDate"
          />
        </div>
      </div>
      <!--AVAILABILITY-TO-->
      <div class="input-with-label row">
        <div class="col-4 title">To :</div>
        <div class="col-8">
          <input
            style="width: 100%"
            type="date"
            [formControl]="currentDateControl2"
            [min]="currentDateControl.value"
          />
        </div>
      </div>
      <!--REVIEW-->
      <div>
        <div class="title">Review</div>
        <div class="reviews">
          <span *ngFor="let star of stars" class="star" (click)="rate(star)">
            <i class="fas fa-star" [ngClass]="{ 'filled ': star.filled }"></i>
          </span>
        </div>
      </div>
      <!--Search cities -->
      <div>
        <div class="title">Location</div>
        <div>
          <div class="loc" style="display: flex; align-items: center">
            <input
              class="input-location"
              type="text"
              [formControl]="searchTerm"
              (input)="search()"
              placeholder="Search cities"
            />
            <svg
              (click)="showmap = !showmap"
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.21145 9.2119L8.16445 12.5589L11.5105 11.5109L12.5585 8.1639L9.21145 9.2119ZM7.02045 14.4519C6.82445 14.4519 6.63245 14.3749 6.48945 14.2329C6.29245 14.0349 6.22045 13.7439 6.30445 13.4789L7.89745 8.3899C7.97045 8.1539 8.15445 7.9709 8.38845 7.8979L13.4775 6.3049C13.7445 6.2199 14.0345 6.2929 14.2325 6.4899C14.4295 6.6879 14.5015 6.9789 14.4175 7.2439L12.8255 12.3329C12.7525 12.5679 12.5675 12.7519 12.3335 12.8249L7.24445 14.4179C7.17045 14.4409 7.09445 14.4519 7.02045 14.4519Z"
                fill="black"
              />
              <mask
                id="mask0_397_1096"
                style="mask-type: luminance"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="21"
                height="21"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 0H20.7218V20.7217H0V0Z"
                  fill="white"
                />
              </mask>
              <g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.3608 1.5C5.47476 1.5 1.49976 5.476 1.49976 10.361C1.49976 15.247 5.47476 19.222 10.3608 19.222C15.2468 19.222 19.2218 15.247 19.2218 10.361C19.2218 5.476 15.2468 1.5 10.3608 1.5ZM10.3608 20.722C4.64776 20.722 -0.000244141 16.074 -0.000244141 10.361C-0.000244141 4.648 4.64776 0 10.3608 0C16.0738 0 20.7218 4.648 20.7218 10.361C20.7218 16.074 16.0738 20.722 10.3608 20.722Z"
                  fill="black"
                />
              </g>
            </svg>
          </div>
          <ul>
            <li (click)="setmarker(city)" *ngFor="let city of filteredCities">
              {{ city.gov }}, {{ city.deleg }}, {{ city.cite }}
            </li>
          </ul>
        </div>
      </div>
      <div class="range-container" *ngIf="location">
        <input
          type="range"
          id="range-input"
          min="10"
          max="100"
          step="1"
          value="20"
          (input)="setsize($event)"
        />

        {{ circleSize }}
      </div>
     <!--MAP-->
      <div class="mapcontainer" [ngClass]="{ dismap: !showmap }">
        <div
          id="map"
          style="height: 400px; width: 100%; cursor: pointer !important"
        >
          <div class="maploding" [ngClass]="{ displayon: maploading }">
            <img width="130px" src="assets/loading (1).gif" alt="" />
          </div>
        </div>
      </div>

    
     
      <div class="row-cols-1">
        <div class="search-button">
          <button 
          mat-fab extended 
          style="background-color: #2A3563;"
          (click)="searchDoctorsBySpeciality()"
          >
            <mat-icon>search</mat-icon>
            Search 
          </button>
          <button 
          mat-fab extended 
          style="background-color: #2A3563;"
          (click)="resetSearch()"
          >
          <mat-icon>autorenew</mat-icon>
            Reset 
          </button>
        </div>
      </div>
    </div>
  </form>
  <!--DOC SEARCH RESULTS-->
  <div class="col-9">
    <div class="doc-search" style="padding: 20px">
      <div class="row">
          <!-- Lottie Animation -->
          <div *ngIf="showAnimation" class="lottie-container">
            <ng-lottie [options]="lottieConfig" [width]="'80%'"></ng-lottie>
          </div>
           <!-- Loading Spinner -->
          <div *ngIf="loading" class="loading-spinner">
            <img width="300px" src="assets/loading-unscreen.gif" alt="Loading..." />
          </div>

        <div
          class="col-4"
          style="padding-top: 10px"
          *ngFor="let d of doctors"
        >
          <div
            style="
              border: #a9a2ca 1px solid;
              border-radius: 15px;
              padding: 10px;
            "
          >
            <div class="doc">
              <div style="display: flex; align-items: center">
                <img
                  src="assets/images/male.jpg"
                  style="
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 15px;
                  "
                  alt="Doctor Profile Image"
                />
                <div class="dts-title">Dr. {{d.fullName}}</div>
              </div>
              <div class="dts-description"> address: {{ d.address }}</div>
            </div>
            <div>
              <div class="dts-title">Speciality</div>
              {{d?.specialty?.name || 'Specialty not available'}}
            </div>
            <div style="display: flex; flex-direction: column">
              <button
                class="viewProfile"
                (click)="openDialog(d ,'600ms', '600ms')"
              >
                View profile
              </button>
              <button
                class="bookAppoitment"
                (click)="openBookingDialog(d,'600ms', '600ms')"
              >
                Book Appointment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
</div>
